<header class="theme-bg__color--primary ">
  <div class="l-container">
    <div class="l-d-flex l-flex-wrap l-justify-content-between">
      <a href="index.html" class="d-inline-block py-1 ms-4 ms-md-0">
        <h1 class="brand">GLASSES</h1>
      </a>
      <ul class="nav-list l-d-flex l-flex-wrap l-w-100 l-w-md-auto">
        <li class="nav-list__items me-0 me-md-16"><a href="#" class="theme-text__color--white theme-text__color--white--hover l-d-inline-block l-h-100 l-w-100 l-text-center">系列鏡框</a></li>
        <li class="nav-list__items me-0 me-md-16"><a href="#" class="theme-text__color--white theme-text__color--white--hover l-d-inline-block l-h-100 l-w-100 l-text-center">門市據點</a></li>
        <li class="nav-list__items me-0 me-md-16"><a href="#" class="theme-text__color--white theme-text__color--white--hover l-d-inline-block l-h-100 l-w-100 l-text-center">部落格</a></li>
        <li class="nav-list__items"><a href="#" class="theme-text__color--white theme-text__color--white--hover l-d-inline-block l-h-100 l-w-100 l-text-center">常見問題</a></li>
      </ul>
    </div>
  </div>
</header>