<header>
  <div class="l-container l-d-flex l-justify-content-between l-align-items-center l-flex-wrap">
    <h1><a href="./index.html" class="brand">Glasses Corp.</a></h1>
    <ul class="nav-list l-d-flex">
      <li class="nav-list__items"><a href="#">系列鏡框</a></li>
      <li class="nav-list__items"><a href="#">門市據點</a></li>
      <li class="nav-list__items"><a href="#">部落格</a></li>
      <li class="nav-list__items"><a href="#">常見問題</a></li>
    </ul>
  </div>
</header>