/*
想詢問助教問題
CLASSIC區塊在md的時候雖然是佔了6個col
但是卻希望可以自己佔據一整行
可是為了在手機以及電腦版的時候可以調整排版，又只能將三個wrap放在同一個row內，請問這邊除了用offset以外還有更好的方法嗎？
*/


/* TOC
* CONTENT
* BANNER
* PERSISTENCE
* CLASSIC
* RECOMMEND
* CONTACT
*/
/*------------------------------------*\
    $CONTENT
      $primary-color:#aa0601;
      $secondary-color:#fbf2f2;
      $info:#650300;
\*------------------------------------*/


/*------------------------------------*\
    $BANNER
\*------------------------------------*/
.banner {
  img {
    //css reset中原本設定max-width:100%,但是這樣設定，因為圖片來源很小，會有空白，所以需要將這個設定拿掉
    max-width: unset;
    width: 100%;
  }
  .content {
    // 同時設定了position:absolute跟l-container，所以在電腦版的時候的右邊距離是由l-container的padding:0px 36px推出來的
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
  }

  p {
    font-size: 16;
  }

  h2 {
    font-size: 24px;
  }

  a {
    font-size: 20px;
  }

  @include pad{
    p{
      font-size: 36px;
    }
    h2{
      font-size: 64px;
    }
  }

}


/*------------------------------------*\
    $PERSISTENCE
\*------------------------------------*/
.persistence {
  h2 {
    font-size: 24px;
  }
  .wrap {
    img {
      width: 100px;
      height: 100px;
    }
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
  }

  @include pad{
    h2{
      font-size: 48px;
    }
  }
}


/*------------------------------------*\
    $CLASSIC
\*------------------------------------*/
.classic {
  img{
    // 會多設定這個部分是因為...說來話長XD
    // 這張設計稿給了375&768兩個版本，可是768很明顯中間是照著隔線系統的col-6去寫的，如果在376就變成col-6的排版，會導致下方h3的文字爆版，所以後來調整成768才變成col-6,手機版的時候都維持col-12,可是這樣圖片width:100%又會顯得太大！！！所以我自己多加了一行讓他限制寬度，這樣在中間過渡期也不會讓圖片撐到太大太誇張...orz
    max-width: 375px;
    width: 100%;
  }
  h2{
    font-size: 24px;
  }
  h3{
    // 針對SE:320px去調整
    font-size: 40px;
    font-weight: bold;
  }
  @include phone{
    h3{
      // 到375px的時候才變成設計稿的48px
      font-size: 48px;
    }
  }
}


.collaboration{
  background-image: url('../images/index-bg-sm.png');
  background-position: center center;
  img{
    // small版圖片沒有到768px寬...
    max-width: unset;
    width: 100%;
  }
  h2{
    font-size: 24px;
  }
  .wrap{
    p{
      font-size: 24px;
    }
  }


  @include phone{
    background-image: url('../images/index-bg-md.png');
  }
  @include pad{
    background-image: url('../images/index-bg.png');
    h2{
      font-size: 48px;
    }
  }
}



.recommend{
  h2{
    font-size: 24px;
  }
}