<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <!-- 引入header.ejs -->
  <%- include('./layout/header'); -%>
    <main>
      <!-- 首頁Banner -->
      <section class="banner l-position-relative">
        <picture>
          <!-- 決定什麼時候要換圖,這邊設定成1200px以下就會更換成sm版圖片 -->
          <source media="(min-width:1200px)" srcset="../assets/images/home-header.png">
          <img src="../assets/images/home-header-sm.png" alt="眼鏡男">
        </picture>
        <div
          class="content l-container l-position-absolute l-d-flex l-flex-column l-align-items-end l-justify-content-center">
          <p class="theme-text__color--info">Promise-Desert 2020 早春系列</p>
          <h2 class="mb-2 theme-text__color--info theme-text__weight--bold">看得清，才能看得遠</h2>
          <a href="#" class="module-btn module-btn--primary">立即購買</a>
        </div>
      </section>

      <!-- 首頁 我們的堅持區塊，"用專業的心，做專業的事" -->
      <section class="persistence theme-bg__color--secondary py-10 py-md-20">
        <div class="l-container">
          <h2 class="theme-text__color--info theme-text__weight--bold l-text-center mb-6">用專業的心，做專業的事</h2>
          <div class="l-row">
            <div class="wrap l-col-12 l-col-md-6 l-col-lg-3 mb-6 mb-lg-0">
              <img src="../assets/images/home-section2-1.png" alt="" class="mb-4 l-d-block m-auto">
              <h3 class="theme-text__color--info theme-text__weight--bold mb-2 l-text-center">單一價格</h3>
              <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </div>
            <div class="wrap l-col-12 l-col-md-6 l-col-lg-3 mb-6 mb-lg-0">
              <img src="../assets/images/home-section2-2.png" alt="" class="mb-4 l-d-block m-auto">
              <h3 class="theme-text__color--info theme-text__weight--bold mb-2 l-text-center">20 分鐘即可取件</h3>
              <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
            </div>
            <div class="wrap l-col-12 l-col-md-6 l-col-lg-3 mb-6 mb-md-0 mb-lg-0">
              <img src="../assets/images/home-section2-3.png" alt="" class="mb-4 l-d-block m-auto">
              <h3 class="theme-text__color--info theme-text__weight--bold mb-2 l-text-center">安心售後服務</h3>
              <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
            </div>
            <div class="wrap l-col-12 l-col-md-6 l-col-lg-3 mb-lg-0">
              <img src="../assets/images/home-sectioin2-4.png" alt="" class="mb-4 l-d-block m-auto">
              <h3 class="theme-text__color--info theme-text__weight--bold mb-2 l-text-center">關於鏡片</h3>
              <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </div>
          </div>
        </div>
      </section>



      <!-- 首頁 classic區 -->
      <section class="classic py-10 py-md-20">
        <div class="l-container">
          <h2 class="theme-text__color--info theme-text__weight--bold l-text-center mb-6 mb-md-12">經典系列鏡框</h2>
          <div class="l-row">
            <div class="wrap l-col-12 l-offset-md-3 l-offset-lg-0 l-col-md-6 l-col-lg-4 mb-6 mb-lg-0">
              <img src="../assets/images/home-section3-1.png" alt="" class="mb-2 l-d-block m-auto">
              <h3 class="theme-text__color--info theme-text__weight--black theme-text__style--italic  l-text-center">
                OPTICAL</h3>
            </div>
            <div class="wrap l-col-12 l-offset-md-3 l-offset-lg-0 l-col-md-6 l-col-lg-4 mb-6 mb-lg-0">
              <img src="../assets/images/home-section3-2.png" alt="" class="mb-2 l-d-block m-auto">
              <h3 class="theme-text__color--info theme-text__weight--black theme-text__style--italic  l-text-center">
                SUNGLASSES</h3>
            </div>
            <div class="wrap l-col-12 l-offset-md-3 l-offset-lg-0 l-col-md-6 l-col-lg-4">
              <img src="../assets/images/home-section3-3.png" alt="" class="mb-2 l-d-block m-auto">
              <h3 class="theme-text__color--info theme-text__weight--black theme-text__style--italic  l-text-center">
                FUNCTIONAL</h3>
            </div>
          </div>
        </div>
      </section>



      <!-- 首頁 collaboration 聯名區塊 -->
      <section class="collaboration py-10 py-md-20">
        <div class="l-container">
          <h2 class="theme-text__color--white l-text-center theme-text__weight--bold mb-6 mb-md-12">聯名設計鏡框</h2>
          <div class="l-row l-row--nogutters">
            <div class="wrap l-col-12 l-col-lg-6 mb-6 l-col-md-6 mb-md-0">
              <picture>
                <source media="(min-width:376px)" srcset="../assets/images/home-section4-1.png">
                <img src="../assets/images/home-section4-1-sm.png" alt="Double A+ picture">
              </picture>
              <p
                class="l-text-center py-2 theme-text__color--info theme-text__weight--black theme-text__style--italic theme-bg__color--white">
                DOUBLE A+</p>
            </div>
            <div class="wrap l-col-12 l-col-lg-6 l-col-md-6">
              <picture>
                <source media="(min-width:376px)" srcset="../assets/images/home-section4-2.png">
                <img src="../assets/images/home-section4-2-sm.png" alt="Double A+ picture">
              </picture>
              <p
                class="l-text-center py-2 theme-text__color--info theme-text__weight--black theme-text__style--italic theme-bg__color--white">
                YOUTH</p>
            </div>
          </div>
        </div>
      </section>


      <!-- 首頁 顧客推薦區塊  -->
      <section class="recommend py-10 py-md-20">
        <div class="l-container">
          <h2 class="l-text-center theme-text__color--info theme-text__weight--bold mb-6 mb-md-12">顧客推薦</h2>
          <div class="l-row">
            <div class="l-col-12 l-col-md-6 l-col-lg-12">
              <div class="module-card module-card--shadow">
                <div class="module-card__header ">
                  <img src="../assets/images/home-section5-1.png" alt="" class="l-d-block m-auto">
                </div>
                <div class="module-card__body">
                  <p class="module-card__body__title">Jessy</p>
                  <p class="module-card__body__content">眼鏡品質優良，下次還會想來這邊購買！</p>
                </div>
                <div class="module-card__footer">
                  <p class="module-card__footer__date">2021/06/20</p>
                </div>
              </div>
            </div>
            <div class="l-col-12 l-col-md-6 l-col-lg-12">
              <div class="module-card module-card--shadow">
                <div class="module-card__header ">
                  <img src="../assets/images/home-section5-2.png" alt="" class="l-d-block m-auto">
                </div>
                <div class="module-card__body">
                  <p class="module-card__body__title">凱倫</p>
                  <p class="module-card__body__content">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                </div>
                <div class="module-card__footer">
                  <p class="module-card__footer__date">2021/04/18</p>
                </div>
              </div>
            </div>
            <div class="l-col-12 l-col-md-6 l-col-lg-12">
              <div class="module-card module-card--shadow">
                <div class="module-card__header ">
                  <img src="../assets/images/home-section5-3.png" alt="" class="l-d-block m-auto">
                </div>
                <div class="module-card__body">
                  <p class="module-card__body__title">悠悠</p>
                  <p class="module-card__body__content">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                </div>
                <div class="module-card__footer">
                  <p class="module-card__footer__date">2020/12/25</p>
                </div>
              </div>
            </div>
            <div class="l-col-12 l-col-md-6 l-col-lg-12">
              <div class="module-card module-card--shadow">
                <div class="module-card__header ">
                  <img src="../assets/images/home-section5-4.png" alt="" class="l-d-block m-auto">
                </div>
                <div class="module-card__body">
                  <p class="module-card__body__title">Kyuan</p>
                  <p class="module-card__body__content">服務很好，品質沒有任何問題，非常喜歡。</p>
                </div>
                <div class="module-card__footer">
                  <p class="module-card__footer__date">2020/10/31</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- 首頁 聯絡我們 -->
      <section class="contact py-10 py-md-20">


      </section>


    </main>


    <%- include('./layout/footer'); -%>


      <script type="module" src="../main.js"></script>
</body>

</html>